<div class="about">
    <!--ILUSTRAÇÃO-->
    <div class="about__illustration">
        <img src="../../../../../assets/deal.jpg">
    </div>

    <!--CONTEÚDO TEXTO-->
    <div class="about__text">

        <!--TÍTULO E DESCRIÇÃO-->
        <div class="about__text-header">
            <h1>Liderando a transformação digital há mais de 15 anos</h1>
            <p>
                Somos uma empresa de consultoria especializada em ajudar organizações a navegar pela transformação
                digital e alcançar resultados excepcionais através de soluções inovadoras e estratégias
                personalizadas.
            </p>
        </div>

        <!--LISTA DE BENEFÍCIOS-->
        <div class="about__benefits">
            <app-benefits [benefits]="benefitsList"></app-benefits>
        </div>

        <!--VALORES-->
        <div class="about__values">
            <app-company-values></app-company-values>
        </div>
    </div>
</div>