<section class="nav-bar">
    <div class="nav-bar__logo">
        <p>TP Consultoria</p>
    </div>
    <nav>
        <ul class="nav-bar__buttons">
            <li><a routerLink="/home">Início</a></li>
            <li><a routerLink="/about">Sobre</a></li>
            <li><a routerLink="/services">Serviços</a></li>
            <li><a routerLink="/contact">Contato</a></li>
            <li><a routerLink="/location">Localização</a></li>
        </ul>
    </nav>
    <div class="nav-bar__contact">
        <button>
            Fale Conosco
        </button>

    </div>
</section>