<main class="home">
    <!--INFORMAÇÕES-->
    <div class="home__info">

        <!--TEXTOS-->
        <div class="home__info-text">
            <!--TITULO-->
            <h1>
                Transformamos
                suas ideias
                em soluções reais
            </h1>

            <!--DESCRIÇÃO-->
            <p>Somos uma empresa de consultoria especializada em inovação e tecnologia. Ajudamos negócios a crescer e se
                destacar no mercado competitivo atual.
            </p>

        </div>

        <!--BOTÃO DE AÇÃO-->
        <div class="home__info-btn">
            <button>Conheça a TP 360°</button>
        </div>

        <!--NÚMEROS ALCANÇADOS-->
        <div class="home__numbers">
            <app-home-values></app-home-values>
        </div>
    </div>

    <div class="home__illustration">
        <img src="../../../assets/banner-home.jpg" alt="">
    </div>
</main>