<main class="home">
    <!--INFORMAÇÕES-->
    <div class="home__info">
        <!--TITULO-->
        <h1>
            Transformamos
            suas ideias
            em soluções reais
        </h1>

        <!--DESCRIÇÃO-->
        <p>Somos uma empresa de consultoria especializada em inovação e tecnologia. Ajudamos negócios a crescer e se
            destacar no mercado competitivo atual.
        </p>

        <!--BOTÃO DE AÇÃO-->
        <button>Conheça a TP 360°</button>

        <!--NÚMEROS ALCANÇADOS-->
        <div class="home__numbers">
            <app-home-values></app-home-values>
        </div>
    </div>

    <div class="home__illustration">
        <img src="../../../assets/banner-home.jpg" alt="">
    </div>
</main>