<div class="notice">
    <!--HEADER-->
    <div class="notice__header">
        <div class="notice__header-information">
            <!--TITULO-->
            <h1>{{selectedNotice.title}}</h1>
            <!--SUBTITULO-->
            <p>{{selectedNotice.caption}}</p>
            <!--DESCRIÇÃO-->
            <span>{{selectedNotice.description}}</span>
        </div>

        <div class="notice__header-ilustration">
            <img src="../../../../../assets/news-images/{{selectedNotice.image}}.jpg" alt="">
        </div>
    </div>
</div>